.zcode/
tests/**/*.pptx.tmp/
# generated conversion and LaTeX build artifacts
tests/**/*.debug/
tests/**/*.log
tests/**/*.nav
tests/**/*.out
tests/**/*.snm
tests/**/*.toc
tests/**/*.aux
xproc-util/simple-progress-msg/xpl/debug/

tests/**/*.csv

tests/**/*.log

tests/**/*.xml
